body, html {
 font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #070707;
  scroll-behavior: smooth;
  color: white; 

}

.navbar {
  background-color: #470a35;
}

.navbar-brand, .navbar-nav a {
  color: white;
  font-size: 14px;
}

.navbar-toggler {
  color: white;
  border-color: white;
}
.navbar-nav {
  margin: auto; 
  display: flex;
  justify-content: space-around;
  width: 50%; 
  text-align: center;
}



.navbar-nav .nav-link {
  color: #8a8a8a !important; 
}

.navbar-nav .nav-link:hover {
  color: #ff96df !important; 

}
.container {
  max-width: 1000px;
}

section {
  padding: 2em;
  margin-bottom: 1em;
  border-bottom: 3px solid #a7177c;
  font-size: 1.1em;
  
}

h2 {
  color: #db34a9;
}


/* Estilos para la sección Software Developer */

#software-developer {
  background-color: #070707; 
  padding: 50px ;
  text-align: center;
  margin-top: 200px;
}


.titulo{
  font-size: 4.0em; 
  color: #e02aaa; 

}


.developer-photo {
  width: 280px; 
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.developer-text {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 40px; 
}

.btn-scroll {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 80px;
  margin-bottom: 20px;
  background: linear-gradient(45deg, #db34a9, #0099ff);
  color: #fff;
  border-radius: 50px;

}

.btn-scroll:hover {
  background: linear-gradient(45deg, #ff85c2, #56d5ff);
  color: #000000;
  font-weight: 1000;

}


/* Estilos adicionales para el cuadrado de fondo gris */
.image-placeholder {
  background-color: #ccc;
  height: 0;
  padding-top: 100%; 
}



/* Estilos adicionales para la sección de educación */
.education-item {
  margin-bottom: 2em;
}

.education-item h3 {
  margin-bottom: 0.5em;
}

.skill-item {
  text-align: center;
  margin-bottom: 20px;
}

progress {
  width: 100%; 
  height: 30px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background-image:
      linear-gradient(90deg, #db34a9, #0099ff),
      linear-gradient(90deg, #ddd, #ddd);
  border-radius: 8px;
}

.progress-circle p {
  font-weight: bold;
  margin-top: 5px;
}


/* Estilos para los botones de proyectos */
.btn-proyecto  {
  width: 100%;
  margin-top: 10px;
}

/* Ajustes para mostrar las tarjetas de dos en dos */
@media (min-width: 768px) {
  .card-deck .card {
      flex: 0 0 48%;
      margin-right: 4%;
  }
}
 .card{
  color: #000000;
  border: #000000;
  border-radius: 10%;

 }

 .card-img-top{
  width: 100%;
  height: 200px;
  color: #202020;
  background-color: #000000;
  
 }

 .card-body{
  background-color: #202020;
  color: white;
  border: #000000;
 }



/* Estilo de degradado para los botones de GitHub */
.btn-degradado {
  background: linear-gradient(45deg, #ff85c2, #56d5ff);
  color: rgb(0, 0, 0);
  border: #000000;
  font-weight: 1000;

}

/* Cuando el cursor pasa sobre el botón, cambiar el degradado */
.btn-degradado:hover {
  background: linear-gradient(45deg, #db34a9, #0099ff);
  color: white;
}
 .list-group-item{
  color: #000000;
 }

 /* Estilos para los botones de la sección de contacto */
#contacto .btn {
  margin-bottom: 1px; 
}

#contacto .btn i {
  margin-right: 10px; 
}

#contacto .btn-telefono {
  background: linear-gradient(45deg, #ff85c2, #56d5ff); 
  border: #000000;
  color: rgb(0, 0, 0);
  font-weight: 1000;

}

#contacto .btn-correo {
  background: linear-gradient(45deg,#56d5ff, #ff85c2 ); 
  border: #000000;
  color: rgb(0, 0, 0);
  font-weight: 1000;


}

#contacto .btn-github {
  background: linear-gradient(45deg, #ff85c2, #56d5ff);
  border: #000000;
  color: rgb(0, 0, 0);
  font-weight: 1000;


}

#contacto .btn-linkedin {
  background: linear-gradient(45deg,#56d5ff, #ff85c2 ); 
  border: #000000;
  color: rgb(0, 0, 0);
  font-weight: 1000;


}


#contacto .btn-telefono:hover {
  background: linear-gradient(45deg, #db34a9, #0099ff ); 
  color: white;
}

#contacto .btn-correo:hover {
  background: linear-gradient(45deg, #0099ff, #db34a9);
  color: white;
}


#contacto .btn-github:hover {
  background: linear-gradient(45deg, #db34a9, #0099ff );
  color: white;
}

#contacto .btn-linkedin:hover {
  background: linear-gradient(45deg, #0099ff, #db34a9); 
  color: white;
}

/* Ajustes adicionales para el botón de descarga de PDF */
.btn-descargar-pdf {
  background: linear-gradient(45deg, #ff85c2, #56d5ff);
  border: #000000;
  color: rgb(0, 0, 0);
  font-weight: 1000;
  transition: transform 0.3s ease-in-out;

}

.btn-descargar-pdf:hover {
  background: linear-gradient(45deg, #0099ff, #db34a9); 
  color: white;
  transform: scale(1.2);
}


/* Estilos para el footer */
footer {
  background-color: #470a35; 
  color: #fff;
  padding: 20px 0; 
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.8em;

}

.footer-logo img {
  display: block;
}

.footer-text {
  text-align: right;
}