body {
    background-color: #000;
    text-align: center;
    padding: 50px;
    margin-top: 300px;
}

.introduction-text1, .introduction-text2, .introduction-text3  {
    color: white;
    font-family: 'Courier New', monospace; /* Cambia la fuente de letra */
    font-size: 1.2em; /* Ajusta el tamaño de la letra según tus preferencias */
    line-height: 1.6; /* Ajusta el espacio entre líneas */
    margin-top: 20px;
}

h1 {
    font-size: 3em;
    opacity: 0; /* Inicialmente oculta el texto */
    font-family: 'Courier New', monospace; /* Cambia la fuente de letra */
    color: #db34a9;
}

.btn-portfolio {
    margin-top: 20px;
    background: linear-gradient(45deg, #db34a9, #0099ff); /* Cambia los colores según tus preferencias */
    border: #000;
}